@using PaginaWebRestauranteHamburguesas.Areas.AdminUsuarios.ModelViews;

@model ModelViewDetalleOrden

<div class="d-flex flex-column align-items-center">

    <div class="bg-info text-light p-3 w-50 text-center">
        <h1>Detalle orden</h1>
    </div>

    <div class="d-flex flex-column border w-50 p-3 mb-2">

        <div>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item list-group-item-info"> <strong>ID: </strong>@Model.OrdenId</li>
                <li class="list-group-item flex-fill"><strong>Cliente: </strong> @Model.ClienteOrden.Nombre @Model.ClienteOrden.Apellido</li>
            </ul>

            <p class="fw-bold my-2">Contacto:</p>

            <ul id="contacto" class="list-group">
                <li class="list-group-item">@Model.ClienteOrden.Mail</li>
                <li class="list-group-item">@Model.ClienteOrden.Telefono</li>
            </ul>
        </div>

    </div>

    <div class="bg-info text-light p-3 w-50 text-center">
        <h2>Combos adquiridos</h2>
    </div>

    <div class="d-flex flex-column border w-50 p-3">

        @foreach (var comboCarrito in Model.CombosCarrito)
        {
            <div class="mb-2">
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item list-group-item-info flex-fill"> <strong>Nombre: </strong>@comboCarrito.Combo.Nombre</li>
                    <li class="list-group-item"> <strong>Cantidad: </strong>@comboCarrito.Cantidad</li>
                </ul>
            </div>

            <div>
                <table class="table table-hover">
                    <tr>
                        <th>No</th>
                        <th>Nombre</th>
                        <th>Precio Unitario</th>
                        <th>Cantidad</th>
                        <th>Total</th>
                    </tr>
                    @{
                        int i = 1;
                    }
                    @foreach (var comidaCarrito in comboCarrito.ComidasCarritoCombo)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@comidaCarrito.Comida.Nombre</td>
                            <td>@comidaCarrito.Comida.Precio $</td>
                            <td>@comidaCarrito.Cantidad</td>
                            @{
                                double total = comidaCarrito.Comida.Precio * comidaCarrito.Cantidad;
                            }
                            <td>@total $</td>
                        </tr>
                        i++;
                    }
                </table>

                
            </div>

            double totalCombo = comboCarrito.PrecioTotal * comboCarrito.Cantidad;

            <div class="w-30 mb-2 align-self-end">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"> <strong>Subtotal: </strong>@comboCarrito.Subtotal.ToString("F1")</li>
                    <li class="list-group-item"> <strong>Descuento: </strong>@comboCarrito.Combo.Descuento %</li>
                    <li class="list-group-item"> <strong>Total unitario: </strong>@comboCarrito.PrecioTotal.ToString("F1") $</li>
                    <li class="list-group-item list-group-item-info"> <strong>Total: </strong>@totalCombo.ToString("F1") $</li>

                </ul>
            </div>

            <hr>
        }

    </div>

    <div class="bg-info text-light p-3 mb-2 w-50 text-center">
        <p><strong>Total combos: </strong>@Model.PrecioTotalCombos.ToString("F1") $</p>
    </div>


    <div class="bg-info text-light p-3 w-50 text-center">
        <h2>Comidas adquiridas</h2>
    </div>

    <div class="d-flex flex-column border w-50 p-3">
        <table class="table table-hover">
            <tr>
                <th>No</th>
                <th>Nombre</th>
                <th>Precio Unitario</th>
                <th>Cantidad</th>
                <th>Total</th>
            </tr>
            @{
                int j = 1;
            }
            @foreach (var comidaCarrito in Model.ComidasCarrito)
            {
                double totalComida = comidaCarrito.Comida.Precio * comidaCarrito.Cantidad;
                <tr>
                    <td>@j</td>
                    <td>@comidaCarrito.Comida.Nombre</td>
                    <td>@comidaCarrito.Comida.Precio</td>
                    <td>@comidaCarrito.Cantidad</td>
                    <td>@totalComida $</td>
                </tr>
                j++;
            }
        </table>

        <div class="w-30 mb-2 align-self-end">
            <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-info"> <strong>Total: </strong>@Model.PrecioTotalComidas.ToString("F1") $</li>
            </ul>
        </div>
    </div>

    <div class="bg-info text-light p-3 mb-2 w-50 text-center">
        <p><strong>Total orden: </strong>@Model.PrecioTotal.ToString("F1") $</p>
    </div>

    <a asp-action="PaginaPrincipalOrden" class="w-50 btn btn-outline-info mb-2">
        Regresar
    </a>





</div>