@using PaginaWebRestauranteHamburguesas.Areas.AdminUsuarios.ModelViews;

@model ModelViewCliente

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PaginaWebRestauranteHamburguesas</title>
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: #FFB993;
        }

        h1 {
            text-align: center;
        }

        table {
            width: 100%;
        }

        th, td {
            text-align: center;
        }

        .acciones {
            white-space: nowrap;
        }
    </style>
</head>
<body>

    <h1>Ordenes del cliente: @Model.Nombre @Model.Apellido</h1>

    <div>
        <table class="table table-hover">
            <tr class="table-success">
                <th>ID</th>
                <th>Fecha</th>
                <th class="acciones">Visualizar</th>
            </tr>
            @foreach (var orden in Model.OrdenesCliente.Ordenes)
            {
                <tr class="table-secondary">
                    <td>@orden.OrdenId</td>
                    <td>@orden.Fecha</td>
                    <td class="acciones">
                        <a asp-action="DetallesOrden"
                           asp-route-idOrden="@orden.OrdenId"
                           asp-route-idCliente="@orden.ClienteId">
                            Detalles
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>

</body>
</html>
