@using PaginaWebRestauranteHamburguesas.ModelViews;
@using PaginaWebRestauranteHamburguesas.Areas.AdminUsuarios.ModelViews;

@model ModelViewMensaje<ModelViewUsuario>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PaginaWebRestauranteHamburguesas</title>
    <link href="css/bootstrap.css" rel="stylesheet" />
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #FFB993;
            margin: 0;
        }

        h1 {
            text-align: center;
        }

        #labelNombreUsuario {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
        }

        form {
            max-width: 400px;
            width: 100%;
            padding: 20px;
            border: 3px solid #ccc;
            border-radius: 8px;
            margin-top: 20px;
        }

            form div {
                margin-bottom: 20px;
            }

        label {
            display: block;
            margin-right: 10px;
            font-weight: bold;
        }

        input, select {
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button, a {
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            background-color: #007BFF;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin-top: 10px;
        }

        a {
            background-color: #6C757D;
        }

        #mensajeFinal {
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>

    <h1>Modificar Cuenta de Cliente</h1>

    <div id="labelNombreUsuario">
        <label for="labelNombeUsuario">Usuario:</label>
        <p>@Model.entity.Nombre</p>
    </div>

    <form method="post">
        <div id="formCredencialesAdmin">
            <label for="formCredencialesAdmin">Ingrese las credenciales de una cuenta de cliente válida:</label>
            <div>
                <input type="text" id="txtNombreUsuarioAdmin" placeholder="Nombre de usuario"
                       name="nombreUsuarioAdmin" value="@Model.entity.Nombre">
            </div>
            <div>
                <input type="password" id="txtPasswordAdmin" placeholder="Contraseña"
                       name="passwordAdmin">
            </div>
        </div>

        <div id="formDatosCliente">
            <label for="formDatosCliente">Ingrese los datos del cliente:</label>
            <div>
                <input type="text" id="txtNombreUsuario" placeholder="Nombre del cliente"
                       name="nombreCliente" value="@Model.entity.Cliente.Nombre">
            </div>

            <div>
                <input type="text" id="txtApellidoCliente" placeholder="Apellido"
                       name="apellidoCliente" value="@Model.entity.Cliente.Apellido">
            </div>

            <div>
                <input type="date" id="txtFnacimiento" placeholder="Fecha de Nacimiento"
                       name="fNacimientoCliente" value="@Model.entity.Cliente.FechaNacimiento">
            </div>

            <div>
                <select name="generoCliente">
                    @foreach (var genero in Model.entity.Cliente.GenerosCliente.Generos)
                    {
                        if (Model.entity.Cliente.GeneroId == genero.Id)
                        {
                            <option value="@genero.Id" selected>@genero.Etiqueta</option>
                        }
                        else
                        {
                            <option value="@genero.Id">@genero.Etiqueta</option>
                        }
                    }
                </select>
            </div>

            <div>
                <input type="text" id="txtTelefono" placeholder="Teléfono"
                       name="telefono" value="@Model.entity.Cliente.Telefono">
            </div>
            <div>
                <input type="email" id="txtMail" placeholder="Mail"
                       name="mail" value="@Model.entity.Cliente.Mail">
            </div>
        </div>

        <div id="formCredencialesUsuarioNuevo">
            <label for="formCredencialesUsuarioNuevo">Ingrese las credenciales de la nueva cuenta de cliente:</label>
            <div>
                <input type="text" id="txtNombreUsuario" placeholder="Nombre de Usuario"
                       name="nombreUsuario">
            </div>
            <div>
                <input type="password" id="txtPassword" placeholder="Contraseña"
                       name="password">
            </div>
        </div>

        <div id="selectEstadosUsuario">
            <label for="selectEstadosUsuario">Escoja un estado:</label>
            <div>
                <select name="estadoUsuario">
                    @foreach (var estado in Model.entity.EstadosUsuario.Estados)
                    {
                        if (Model.entity.EstadoId == estado.Id)
                        {
                            <option value="@estado.Id" selected>@estado.Etiqueta</option>
                        }
                        else
                        {
                            <option value="@estado.Id">@estado.Etiqueta</option>
                        }
                    }
                </select>
            </div>
        </div>

        <button type="submit"
                asp-route-idUsuario="@Model.entity.UsuarioId"
                asp-route-idCliente="@Model.entity.Cliente.ClienteId"
                asp-route-oldNombreUsuario="@Model.entity.Nombre">
            Modificar cuenta
        </button>

    </form>

    <a asp-route="usuarios">Regresar</a>

    <div id="mensajeFinal">
        @if (Model.mensaje is null)
        {
            @("Hola, bienvenido/a.")
        }
        else
        {
            @(Model.mensaje)
        }
    </div>

</body>
</html>
