@using PaginaWebRestauranteHamburguesas.ModelViews;
@using PaginaWebRestauranteHamburguesas.Areas.AdminUsuarios.ModelViews;

@model ModelViewMensaje<ModelViewUsuario>


<div class="d-flex flex-column align-items-center">

    <h1 class="mb-3">Cambiar estado</h1>

    <div>
        <h4 class="mb-3">Usuario: @Model.entity.Nombre</h4>
    </div>

    <form method="post" class="d-flex flex-row">

        <div class="d-flex flex-column justify-content-center rounded-2 w-100 p-3 me-2 bg-info">

            <p class="mb-2 text-wrap text-light fw-bold">
                Ingrese las credenciales de una cuenta administrador existente:
            </p>

            <div class="form-floating d-flex flex-column-reverse mb-2">
                <input type="text" id="txtNombreUsuarioAdmin" class="form-control" placeholder="Nombre de usuario"
                       name="nombreUsuarioAdmin">
                <label for="txtNombreUsuarioAdmin">Nombre de usuario</label>
            </div>

            <div class="form-floating d-flex flex-column-reverse mb-2">
                <input type="password" id="txtPasswordAdmin" class="form-control" placeholder="Contraseña"
                       name="passwordAdmin">
                <label for="txtPasswordAdmin">Contraseña</label>
            </div>

            <div id="selectEstadosUsuario" class="form-floating d-flex flex-column-reverse w-100 mb-2">
                <select name="estadoUsuario" class="form-select">
                    @foreach (var estado in Model.entity.EstadosUsuario.Estados)
                    {
                        if (Model.entity.EstadoId == estado.Id)
                        {
                            <option value="@estado.Id" selected>@estado.Etiqueta</option>
                        }
                        else
                        {
                            <option value="@estado.Id">@estado.Etiqueta</option>
                        }
                    }
                </select>
                <label for="selectEstadosUsuario">Estado</label>
            </div>

            <button type="submit" class="btn btn-light mb-2">
                Cambiar estado
            </button>

            <a asp-route="usuarios" class="btn btn-outline-light mb-2">
                Regresar
            </a>

            @if (Model.mensaje is not null)
            {
                <div class="alert alert-danger text-wrap">
                    <strong>ERROR: </strong>@(Model.mensaje)
                </div>
            }

        </div>


    </form>

</div>
