@using PaginaWebRestauranteHamburguesas.Areas.AdminProductos.ModelViews;
@using PaginaWebRestauranteHamburguesas.ModelViews;

@model ModelViewMensaje<ModelViewComida>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PaginaWebRestauranteHamburguesas</title>
    <link href="css/bootstrap.css" rel="stylesheet" />
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #FFB993;
            margin: 0;
        }

        h1 {
            text-align: center;
        }

        form {
            max-width: 400px;
            width: 100%;
            padding: 20px;
            border: 3px solid #ccc;
            border-radius: 8px;
            margin-top: 20px;
        }

            form div {
                margin-bottom: 20px;
            }

        label {
            margin-top: 10px;
        }

        input, select {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            box-sizing: border-box;
        }

        button {
            margin-top: 10px;
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            cursor: pointer;
        }

        a.button {
            display: block;
            width: 50%;
            max-width: 200px;
            margin-top: 10px;
            padding: 10px;
            text-align: center;
            text-decoration: none;
            color: #fff;
            background-color: #28a745;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>
<body>

    <h1>Modificar Comida</h1>

    <form method="post">

        <div id="formDatosComida">
            <label for="txtNombreComida">Nombre*</label>
            <input type="text" id="txtNombreComida" placeholder="Nombre de la comida"
                   name="nombreComida" value="@Model.entity.Nombre">

            <label for="txtDescripcionComida">Descripción*</label>
            <input type="text" id="txtDescripcionComida" placeholder="Descripción de la comida"
                   name="descripcionComida" value="@Model.entity.Descripcion">

            <label for="txtPrecioComida">Precio*</label>
            <input type="number" id="txtPrecioComida" placeholder="Precio de la comida"
                   name="precioComida" step="0.1" value="@Model.entity.Precio">

            <label for="categoriaComida">Categoría*</label>
            <select name="categoriaComida">
                @foreach (var categoria in Model.entity.CategoriasComida.Categorias)
                {
                    if (Model.entity.CategoriaId == categoria.Id)
                    {
                        <option value="@categoria.Id" selected>@categoria.Etiqueta</option>
                    }
                    else
                    {
                        <option value="@categoria.Id">@categoria.Etiqueta</option>
                    }
                }
            </select>
        </div>

        <button asp-route-idComida="@Model.entity.ComidaId" type="submit">
            Modificar
        </button>

    </form>

    <a asp-action="PaginaPrincipalComida" class="button">Regresar</a>

    @if (Model is null)
    {
        @("Hola, bienvenido/a.")
    }
    else
    {
        @(Model.mensaje)
    }

</body>
</html>